body {
    background-color: #22242b;
}

.home-component1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid #22242b;
    background-color: #22242b;
    width: 75%;
    height: 75vh;
}

.home-component1>video {
    object-fit: fill;
    width: 95%;
    height: 95%;
    border-radius: 20px;
}

.top-left {
    position: absolute;
    padding: 10px 0px 10px 0px;
    text-align: center;
    top: 18px;
    left: 40px;
    font-size: 20px;
    background-color: rgba(62, 58, 58, 0.567);
    width: 70px;
    border-radius: 10px;
    color: rgb(218, 213, 213);
}

.home-component2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid #22242b;
    background-color: #22242b;
    width: 75%;
    height: 75vh;
}

.home-component2>video {
    object-fit: fill;
    margin-top: 10px;
    margin-right: 10px;
    width: 48%;
    height: 95%;
    border-radius: 20px;
}

.home-component4 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid #22242b;
    background-color: #22242b;
    width: 75%;
    height: 75vh;
    flex-wrap: wrap;
}

.home-component4>video {
    object-fit: fill;
    margin-top: 10px;
    margin-right: 10px;
    width: 45%;
    height: 46%;
    border-radius: 20px;
}


.home-component3 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid #22242b;
    background-color: #22242b;
    width: 75%;
    height: 75vh;
}

.home-component3>div {
    display: flex;
    flex-direction: column;
}

.home-component3>div>video {
    object-fit: fill;
    margin-top: 10px;
    margin-right: 10px;
    width: 100%;
    height: 46%;
    border-radius: 20px;
}

.home-component3>video {
    object-fit: fill;
    margin-top: 10px;
    margin-right: 10px;
    width: 48%;
    height: 95%;
    border-radius: 20px;
}